@model DiziProjesi.Models.Entity.MovieSeason
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
            {
            <div class="form-horizontal">
                <h4>Kategori</h4>
                <hr />
                @Html.ValidationSummary(false)
                @Html.HiddenFor(model=> model.Movie.ID, Model.Movie.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.SeasonName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SeasonName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Helpers.Button("success", "success", string.Empty, "submit", "plus", " Ekle")
                    </div>
                </div>
            </div>
        }
    </div>

</div>
